@import '../../constants/colors';

.footer {
  margin: 45px 0;
  .social-media-actions {
    padding: 30px 0;
  }

  p {
    font-size: 13px;
    font-weight: bold;
    color: $primary-color;
    text-align: center;
    margin-top: 15px;
  }
}
